@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #000;
}

.anim-open-move-down-100 {
    animation: move-down-100 1s ease;
}

.anim-open-move-down-20 {
    animation: move-down-20 1s ease;
}

.anim-open-scale-down-20 {
    animation: scale-down-20 1s ease;
}

.anim-pulse-10 {
    animation: scale-pulse-10 30s linear infinite;
}

.anim-scroll-move-down {
    animation: move-down 10s ease;
}

@keyframes move-down-100 {
    from {
        transform: translateY(-100%)
    }

    to {
        transform: translateY(0%)
    }
}

@keyframes move-down-20 {
    from {
        transform: translateY(-20%)
    }

    to {
        transform: translateY(0%)
    }
}

@keyframes scale-down-20 {
    from {
        transform: scale(120%)
    }

    to {
        transform: scale(100%)
    }
}

@keyframes scale-pulse-10 {
    0% {
        transform: scale(110%)
    }

    50% {
        transform: scale(100%)
    }

    100% {
        transform: scale(110%)
    }
}